.lead {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  max-width: 984px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .lead {
    padding-top: 48px;
  }
}
