.cover__subtitle {
  position: relative;
  font-size: 18px;
  line-height: 1.2;
  max-width: 360px;
  text-align: center;
  margin: 0 auto;
  padding-top: 32px;
}

/* переход для более похожего отображения как по макету для других экранов в диапазоне меньше 768px и больше 320px */
@media screen and (max-width: 767px) {
  .cover__subtitle {
    width: 45vw;
    font-size: 4vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    padding-top: 16px;
    width: 265px;
  }
}
