.cover {
  position: relative;
  max-width: 1184px;
  max-height: 740px;
  /* background-image: url(../../images/trains.png);
  background-size: 100%;
  background-repeat: no-repeat; */
  width: 100%;
  height: 62.5vw;
  margin: 0 auto;
  z-index: 0;
}
