.cover__overlay {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    top: 65%;
  }
}
